
@test: red;
@govt: #0099C4;
@indiv: #95C11F;
@welas: #633E88;
@civil: #D1356F;
@small: #F6C310;
@public: #999999;

.tile.home#tile-govt .icon  {
    background-color: @govt;
}
.tile.home#tile-indiv .icon {
    background-color: @indiv;
}
.tile.home#tile-weles .icon {
    background-color: @welas;
}
.tile.home#tile-civil .icon {
    background-color: @civil;
}
.tile.home#tile-small .icon {
    background-color: @small;
}
.tile.home#tile-public .icon {
    background-color: @public;
}
